@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html {
	width: 8.5in;
	height: 11in;
}

body {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

.section-title
{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
  padding: 0.8rem 0;
}
main .section-title {
  color: #1e3a8a;
  letter-spacing: 2px;
}

main .section-title::after {
  content: "";
  display: block;
  width: calc(100%+ 0.6in);
  height: 1px;
  left: -0.6in;
  position: relative;
  background-color: #1e3a8a;
}

.section-entry {
	padding-bottom: 0.75rem;
  break-inside: avoid-page;
}

.section-entry .title {
	font-size: 1.1rem;
}

main .section-entry .title{
margin-top: -0.5rem;
}

main .section-entry .title::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
  left: -1.6rem;
  top: 1rem;
  background-color: #1e3a8a;
  margin-right: 0.5rem;
}

.section-entry .title.job {
	font-weight: bold;
}

.section-entry .subtitle {
	font-size: 1rem;
	padding-bottom: 0.2rem;
}
.section-entry .label {
	font-size: 1rem;
	font-style: italic;
  color: #5b626d;
}
.points {
	font-size: 1rem;
}
.section-entry .points {
	text-align: left;
}

.section-entry ul.points {
  padding-inline-start: 30px;
}

.doc-title {
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.doc-title::before {
  content: "";
  display: block;
  position: absolute;
  height: 32.65in;
  width: 1px;
  left: 0.4in;
  background-color: #1e3a8a;
}

.doc-subtitle {
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.contact {
  font-size: 1rem;
}
@page {
  width: 8.5in;
	height: 11in;
  margin: 0;
}

.contact img {
  width: 1em;
  height: 1em;
}

.start-of-page {
  padding-top: 0.3in;
}